.loginform {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.loginform__inside {
  padding: 20px 15px;
  border: 0px;
}

.loginform__email {
  border-bottom: 1px gray;
  border-style: solid;
}
